# NOTEBOOK 3 - Tuplas, Range, Dicionários e Conjuntos

### Indexação com [-1]

 * Quando usamos -1 como índice em Python, isso é interpretado como o índice do último elemento da lista.

* A função insert em Python insere o valor dado na posição antes do índice fornecido. Portanto, quando você faz lista.insert(-1, "a"), você está basicamente dizendo "insira 'a' antes do último elemento".

* Se quisermos quiser inserir "a" no final da lista, podemos usar ```lista.append("a")``` ou ```lista.insert(len(lista), "a")```. O método ```append``` adiciona o elemento no final da lista e o ```insert(len(lista), "a")``` insere "a" na posição após o último índice, ou seja, no final da lista.

In [1]:
lista = [1,2,3,4]

lista.append('a')
print("alteramos a lista usando 'append'", lista)

lista.insert(-1,'b')
print("alteramos a lista usando 'insert'", lista)

print('o tamanho da lista é: ', len(lista))

lista.insert(len(lista), "c")
print("alteramos a lista usando 'len' e 'insert'", lista)

alteramos a lista usando 'append' [1, 2, 3, 4, 'a']
alteramos a lista usando 'insert' [1, 2, 3, 4, 'b', 'a']
o tamanho da lista é:  6
alteramos a lista usando 'len' e 'insert' [1, 2, 3, 4, 'b', 'a', 'c']

### 1) Tuplas - tuple

As tuplas em Python são semelhantes às listas, mas são imutáveis. Isso significa que, uma vez que uma tupla é criada, você não pode alterar seus elementos ou seu tamanho. Portanto, as tuplas têm menos métodos disponíveis em comparação com as listas.

| Método | Exemplo | Descrição |
| --- | --- | --- |
| count() | `tupla = (1, 2, 3, 2, 2, 4)`<br>`print(tupla.count(2))`<br>`# Saída: 3` | Retorna o número de vezes que um valor específico aparece na tupla. |
| index() | `tupla = (1, 2, 3, 2, 2, 4)`<br>`print(tupla.index(2))`<br>`# Saída: 1` | Retorna o índice da primeira ocorrência do valor especificado na tupla. |

Note que, ao contrário das listas, as tuplas não têm métodos para adicionar ou remover elementos, porque são imutáveis.

Em Python, existem duas maneiras principais de criar uma tupla vazia:

Usando parênteses vazios: ```()```
Usando o construtor ```tuple()```

In [3]:
tupla_vazia_1 = tuple()

In [4]:
tupla_vazia_2 = ()

In [5]:
type(tupla_vazia_1)

tuple

In [6]:
# Método 1: Parênteses e vírgulas
tupla1 = (1, 2, 3)

# Método 2: Construtor tuple
tupla2 = tuple([1, 2, 3])

O construtor ```tuple()``` aceita apenas um único argumento. Esse argumento deve ser um objeto iterável, como uma lista, uma string, um conjunto, um dicionário.

A tentativa de passar vários argumentos para o construtor ```tuple()```, como no exemplo ```tuple(1,2,3,1)```, resultará em um erro do tipo ```TypeError: tuple expected at most 1 argument, got 4```.

A maneira correta de criar uma tupla com vários elementos é colocar os elementos em uma lista (ou algum outro objeto iterável) e passar essa lista para o construtor ```tuple()```, como fizemos acima.

Acessando um elemento da tupla:

In [7]:
# Criar uma tupla
t = (1, 2, 3, 4, 5)

# Acessar o primeiro elemento (índice 0)
first = t[0]
print(first)

# Acessar o segundo elemento (índice 1)
second = t[1]
print(second)

# Acessar o último elemento (índice -1)
last = t[-1]
print(last)

1
2
5

In [8]:
del t[0] # O que acontece se tentarmos usar o del para remover um item da tupla?

TypeError: 'tuple' object doesn't support item deletion

In [9]:
del t # E se tentarmos remover a tupla?

In [10]:
print(t)

NameError: name 't' is not defined

In [11]:
paciente = # crie uma tupla com o nome, altura e idade do paciente

SyntaxError: invalid syntax (2523983903.py, line 1)

In [12]:
type(paciente)

NameError: name 'paciente' is not defined

In [13]:
# retorne o nome do paciente:

paciente[]

SyntaxError: invalid syntax (1362203568.py, line 3)

####  O método ```tupla.index()```

In [ ]:
t.index(1)

In [ ]:
paciente.index("     ") # retorna o índice do objeto

In [ ]:
1.75 in paciente  # podemos usar in para descobrir se um elemento está na tupla

In [ ]:
t = (1, 2, 3) + (4, 5)  # é possível concatenar tuplas
t

####  O método ```tupla.count()```

In [ ]:
paciente.count("Alfredo")  #retorna a contagem do valor indicado

In [ ]:
del paciente

In [ ]:
paciente

EXERCÍCIOS

1) Converta uma lista em um tupla

In [117]:
lista = ["a", "b", "c", "a", "b"]
tupla = tuple(lista)
print(tupla)

('a', 'b', 'c', 'a', 'b')

In [118]:
type(tupla)

tuple

2) Desempacote uma tupla na quantidade equivalente de variáveis

In [121]:
tupla = (1, 2, 3, 4)
a, b, c, d = tupla
print(a, b, c, d)

1 2 3 4

3) Acesse o terceiro elemento de uma tupla

In [123]:
tupla = (1, 2, 3, 4, 5)
terceiro_elemento = tupla[2]
print(terceiro_elemento)

3

4) Concatene as duas tuplas abaixo

In [124]:
tupla1 = ("a", "b", "c")
tupla2 = (1, 2, 3)
tupla3 = tupla1 + tupla2
print(tupla3)

('a', 'b', 'c', 1, 2, 3)

### 2) Range

A função `range()` em Python é usada para gerar uma sequência de números e possui a seguinte sintaxe:

```python
range(start, stop, step)
```

Onde:

- `start`: Opcional - especifica a partir de qual número começar. O padrão é 0.
- `stop`: Necessário - especifica em que número terminar.
- `step`: Opcional - especifica o incremento.

In [14]:
start = 1
stop = 10

In [16]:
range(start, stop)  # Gera uma sequência de números começando de `start` e terminando em `stop - 1`.

range(1, 10)


É importante notar que o `stop` não está incluído na sequência de números gerada pela função `range()`.

* A função `range()` retorna um objeto de tipo `range`, não uma lista ou tupla. * Se precisarmos de uma lista para manipulação, podemos convertê-lo em uma lista usando a função `list()`.

In [17]:
numbers = list(range(5))
print(numbers)

[0, 1, 2, 3, 4]

In [18]:
list(range(0,11))  # de 0 a 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(range(0, 21, 3)) # pares de 0 a 20

[0, 3, 6, 9, 12, 15, 18]

In [21]:
list(range(1, 20, 2)) # ímpares de 1 a 19

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
breeds = ["Labrador", "Poodle", "Bulldog", "Beagle", "Pitbull", "Dachshund"]

In [24]:
list(range(len(breeds)))

[0, 1, 2, 3, 4, 5]

In [25]:
print(list(range(4, 101, 4)))

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [28]:
list(range(10, 0, -1)) # sequência de 1 a 10 invertida

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
list(range(20, -1, -2)) # Sequência de 0 a 20 invertida

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

### 3) Dicionários

Um dicionário em Python é uma estrutura de dados que armazena pares de chave-valor. Cada chave em um dicionário é única e está associada a um valor. Os valores podem ser de qualquer tipo: números, strings, listas, e até outros dicionários. Os dicionários são úteis quando queremos recuperar valores com base em algumas chaves, em vez de indexá-los, como fazemos com listas ou tuplas.

In [3]:
meu_carro = {
  "marca": "Ford",
  "modelo": "Mustang",
  "ano": 1964
}

Neste exemplo, as chaves são "marca", "modelo" e "ano", e os valores são "Ford", "Mustang" e 1964, respectivamente.

Podemos acessar os valores em um dicionário fornecendo a chave correspondente:

In [4]:
print(meu_carro["modelo"])
print(meu_carro["ano"])

Mustang
1964

Os dicionários em Python são mutáveis, o que significa que podemos adicionar, remover e alterar valores depois que o dicionário é criado:

In [33]:
# Adicionar um par chave-valor
meu_carro["cor"] = "vermelho"

# Remover um par chave-valor
del meu_carro["ano"]

# Alterar um valor
meu_carro["marca"] = "Chevrolet"

In [35]:
print(meu_carro)

{'marca': 'Chevrolet', 'modelo': 'Mustang', 'cor': 'vermelho'}

Principais métodos de um dicionário em Python (Nos exemplos, o dicionário de entrada é `{'a': 1, 'b': 2}`):

| Método | Exemplo de Uso | Descrição |
| --- | --- | --- |
| `clear()` | `d = {'a': 1, 'b': 2}`<br>`d.clear()`<br>`# d = {}` | Remove todos os itens do dicionário. |
| `copy()` | `d = {'a': 1, 'b': 2}`<br>`d1 = d.copy()`<br>`# d1 = {'a': 1, 'b': 2}` | Retorna uma cópia do dicionário. |
| `fromkeys(seq[, v])` | `d = dict.fromkeys(['a', 'b'], 0)`<br>`# d = {'a': 0, 'b': 0}` | Cria um novo dicionário com chaves de seq e valores definidos para v (padrão para None). |
| `get(key[, default])` | `d = {'a': 1, 'b': 2}`<br>`value = d.get('a', 'default')`<br>`# value = 1` | Retorna o valor para a chave se a chave estiver no dicionário, senão o default. |
| `items()` | `d = {'a': 1, 'b': 2}`<br>`items = d.items()`<br>`# items = [('a', 1), ('b', 2)]` | Retorna um objeto de visualização que exibe uma lista de pares de chave-valor do dicionário. |
| `keys()` | `d = {'a': 1, 'b': 2}`<br>`keys = d.keys()`<br>`# keys = ['a', 'b']` | Retorna um objeto de visualização que exibe uma lista de todas as chaves no dicionário. |
| `pop(key[, default])` | `d = {'a': 1, 'b': 2}`<br>`value = d.pop('a')`<br>`# value = 1` | Remove e retorna o valor do dicionário para a chave fornecida. Se a chave não existir, retorna o default. |
| `popitem()` | `d = {'a': 1, 'b': 2}`<br>`key, value = d.popitem()`<br>`# key = 'b', value = 2` | Remove e retorna um par (chave, valor) do dicionário. Os pares são retornados em ordem LIFO (last in, first out). |
| `setdefault(key[, default])` | `d = {'a': 1, 'b': 2}`<br>`value = d.setdefault('c', 3)`<br>`# value = 3` | Se a chave estiver no dicionário, retorna seu valor. Se não, insere a chave com um valor de default e retorna o default. |
| `update([other])` | `d = {'a': 1, 'b': 2}`<br>`d.update({'d': 4})`<br>`# d = {'a': 1, 'b': 2, 'd': 4}` | Atualiza o dicionário com os pares de chave-valor de outro dicionário, sobrescrevendo as chaves existentes. |
| `values()` | `d = {'a': 1, 'b': 2}`<br>`values = d.values()`<br>`# values = [1, 2]` | Retorna um objeto de visualização que exibe uma lista de todos os valores no dicionário. |

* Criando um dicionário vazio

In [5]:
dicionario_vazio_1 = {}
dicionario_vazio_2 = dict()

In [6]:
carros = {
    "Mustang": ["Ford", 1966, "vermelho"],
    "Camaro": ["Chevrolet", 1967, "azul"],
    "Charger": ["Dodge", 1969, "preto"],
    "911": ["Porsche", 1964, "branco"]
}

* ```copy()```: Retorna uma cópia do dicionário.

In [70]:
copy_carros = carros.copy()
copy_carros

{'Mustang': ['Ford', 1966, 'vermelho'],
 'Camaro': ['Chevrolet', 1967, 'azul'],
 'Charger': ['Dodge', 1969, 'preto'],
 '911': ['Porsche', 1964, 'branco']}

* ```clear()```  Remove todos os itens do dicionário.

In [39]:
copy_carros.clear()
copy_carros

{}

* ```fromkeys(seq[, v])``` Cria um novo dicionário com chaves de ```seq``` e valores definidos para ```v``` (padrão para None).

In [40]:
carros_vendidos = carros.fromkeys(['Mustang', 'Camaro'], ['vendido'])
carros_vendidos

{'Mustang': ['vendido'], 'Camaro': ['vendido']}

* ```get(key[, default])```  Retorna o valor para a chave se a chave estiver no dicionário, senão o default.

In [42]:
carros.get('Mustang', 'ausente')

['Ford', 1966, 'vermelho']

In [43]:
carros.get('911')

['Porsche', 1964, 'branco']

In [44]:
carros.get('Uno', 'ausente')

'ausente'

* ```items()``` Retorna um objeto de visualização que exibe uma lista de pares de chave-valor do dicionário.

In [45]:
list(carros.items())

[('Mustang', ['Ford', 1966, 'vermelho']),
 ('Camaro', ['Chevrolet', 1967, 'azul']),
 ('Charger', ['Dodge', 1969, 'preto']),
 ('911', ['Porsche', 1964, 'branco'])]

* ```keys()``` Retorna um objeto de visualização que exibe uma lista de todas as chaves no dicionário.

In [46]:
list(carros.keys())

['Mustang', 'Camaro', 'Charger', '911']

* ```pop(key[, default])``` Remove e retorna o valor do dicionário para a chave fornecida. Se a chave não existir, retorna o default.

In [49]:
pop_example = carros.copy()  # Estamos fazendo uma cópia para não alterarmos o dicionário original
camaro = pop_example.pop('Camaro')
camaro

['Chevrolet', 1967, 'azul']

In [50]:
pop_example

{'Mustang': ['Ford', 1966, 'vermelho'],
 'Charger': ['Dodge', 1969, 'preto'],
 '911': ['Porsche', 1964, 'branco']}

* ```popitem()``` Remove e retorna um par (chave, valor) do dicionário. Os pares são retornados em ordem LIFO (last in, first out).

In [ ]:
popitem_example = carros.copy()
popitem_example.popitem()

In [ ]:
popitem_example

* ```setdefault(key[, default])``` Se a chave estiver no dicionário, retorna seu valor. Se não, insere a chave com um valor de default e retorna o default.

> Indented block

In [ ]:
setdefault_example = carros.copy()
setdefault_example.setdefault('Uno', ['Fiat', 1985, 'Preta'])

* ```update([other])``` Atualiza o dicionário com os pares de chave-valor de outro dicionário, sobrescrevendo as chaves existentes. Caso não exista, adiciona o novo elemento ao dicionário

In [10]:
update_example = carros.copy()
update_example.update({'Ferrari': ['Ferrari', 1962, 'vermelho']})

In [8]:
carros

{'Mustang': ['Ford', 1966, 'vermelho'],
 'Camaro': ['Chevrolet', 1967, 'azul'],
 'Charger': ['Dodge', 1969, 'preto'],
 '911': ['Porsche', 1964, 'branco']}

In [11]:
update_example

{'Mustang': ['Ford', 1966, 'vermelho'],
 'Camaro': ['Chevrolet', 1967, 'azul'],
 'Charger': ['Dodge', 1969, 'preto'],
 '911': ['Porsche', 1964, 'branco'],
 'Ferrari': ['Ferrari', 1962, 'vermelho']}

In [54]:
update_example.update({'Ferrari': ['Ferrari', 1968, 'vermelho']})

In [55]:
update_example

{'Mustang': ['Ford', 1966, 'vermelho'],
 'Camaro': ['Chevrolet', 1967, 'azul'],
 'Charger': ['Dodge', 1969, 'preto'],
 '911': ['Porsche', 1964, 'branco'],
 'Ferrari': ['Ferrari', 1968, 'vermelho']}

Funções embutidas (built-in) do Python que podem ser usadas com dicionários:

| Função | Exemplo de Uso | Descrição |
| --- | --- | --- |
| `len()` | `d = {'a': 1, 'b': 2}`<br>`len(d)`<br>`# Saída: 2` | Retorna o número de itens no dicionário. |
| `type()` | `d = {'a': 1, 'b': 2}`<br>`type(d)`<br>`# Saída: <class 'dict'>` | Retorna o tipo do objeto (neste caso, um dicionário). |
| `str()` | `d = {'a': 1, 'b': 2}`<br>`str(d)`<br>`# Saída: "{'a': 1, 'b': 2}"` | Converte o dicionário em uma string. |
| `sorted()` | `d = {'a': 1, 'b': 2}`<br>`sorted(d)`<br>`# Saída: ['a', 'b']` | Retorna uma nova lista contendo todas as chaves no dicionário em ordem ascendente. |

OBS> Desde a versão 3.7, Python garante que os dicionários mantenham a ordem de inserção dos itens. Isso significa que quando você itera sobre as chaves ou valores de um dicionário, os itens são retornados na ordem em que foram originalmente adicionados.

Portanto, embora os dicionários em Python não sejam "ordenados" no sentido de que os itens são automaticamente organizados por chave ou valor, eles preservam a ordem em que os itens são adicionados, o que pode ser muito útil em determinadas situações.

In [57]:
dicionario = {}
dicionario['a'] = 1
dicionario['b'] = 2
dicionario['c'] = 3

for chave in dicionario:
    print(chave)

a
b
c

**Exercícios**

1. **Inserir Elementos:**
   Crie um dicionário vazio e insira as seguintes chaves e valores: "nome": "John", "idade": 25, "cidade": "New York". Mostre o dicionário resultante.

In [67]:
dicionario = {}

dicionario.update({'nome': 'John',
                   'idade': 25,
                   'cidade': 'Nova York',
                   })

In [127]:
dicionario

{'nome': 'John', 'idade': 25, 'cidade': 'Nova York'}

2. **Acessar Valores:**
   Dado o dicionário `{'a': 100, 'b': 200, 'c': 300}`, escreva um programa para encontrar o valor associado à chave 'b'.

In [ ]:
dicio = {'a': 100, 'b': 200, 'c': 300}

3. **Atualizar Valores:**
   Dado o dicionário `{'Alice': 25, 'Bob': 30, 'Charlie': 35}`, atualize a idade de 'Alice' para 26 e mostre o dicionário atualizado.

In [ ]:
dicio = {'Alice': 25, 'Bob': 30, 'Charlie': 35}

4. **Remover Elementos:**
   Dado o dicionário `{'x': 10, 'y': 20, 'z': 30}`, remova a entrada com a chave 'y' e imprima o dicionário resultante.

In [ ]:
dicio = {'x': 10, 'y': 20, 'z': 30}

5. **Verificar Chave:**
   Escreva um programa que verifique se uma chave fornecida pelo usuário existe em um dicionário. Utilize o dicionário `{'red': 1, 'green': 2, 'blue': 3}` para este exercício.

In [ ]:
dicio = {'red': 1, 'green': 2, 'blue': 3}

In [ ]:
chave = 'green'
verifica_chave =
print(verifica_chave)

6. **Chaves e valores como listas:**
   Escreva um programa que imprima uma lista com as chaves e outra com os valores do dicionário `{'Nome': 'Maria', 'Idade': 28, 'Profissão': 'Engenheira'}`

In [7]:
dicio = {'Nome': 'Maria', 'Idade': 28, 'Profissão': 'Engenheira'}

### 4) Conjuntos - set

Um conjunto, ou "set", em Python é uma coleção não ordenada de itens únicos. Os conjuntos são usados principalmente para eliminar itens duplicados de uma lista. Também são úteis para realizar operações matemáticas comuns, como união, interseção e diferença.

Características dos conjuntos em Python:

* **Itens únicos**: Cada elemento em um conjunto é único (não duplicado) e deve ser imutável (não pode ser alterado).

* **Não ordenados**: Os conjuntos são não ordenados. Você não pode esperar que seus itens sejam em uma determinada ordem.

* **Inalteráveis**: Os conjuntos em si são mutáveis. Podemos adicionar ou remover itens deles.

* **Não indexáveis**: Conjuntos não são indexáveis, ou seja, você não pode acessar os itens de um conjunto por um índice.

Métodos de conjunto em Python

| Método               | Exemplo                                                                                                                           | Descrição                                                                                                            |
|----------------------|-----------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|
| `add`                | `set1 = {1, 2, 3}`<br>`set1.add(4)`<br>`print(set1)  # Saída: {1, 2, 3, 4}`                                                   | Adiciona um elemento ao conjunto.                                                                                    |
| `remove`             | `set1 = {1, 2, 3}`<br>`set1.remove(2)`<br>`print(set1)  # Saída: {1, 3}`                                                    | Remove um elemento do conjunto. Levanta um KeyError se o elemento não for encontrado.                                |
| `discard`            | `set1 = {1, 2, 3}`<br>`set1.discard(2)`<br>`print(set1)  # Saída: {1, 3}`                                                    | Remove um elemento do conjunto se ele existir, e não faz nada se o elemento não existir.                             |
| `pop`                | `set1 = {1, 2, 3}`<br>`element = set1.pop()`<br>`print(element)  # Saída: 1`<br>`print(set1)  # Saída: {2, 3}`                    | Remove e retorna um elemento arbitrário do conjunto. Levanta um KeyError se o conjunto estiver vazio.                |
| `clear`              | `set1 = {1, 2, 3}`<br>`set1.clear()`<br>`print(set1)  # Saída: set()`                                                        | Remove todos os elementos do conjunto.                                                                               |
| `union`              | `set1 = {1, 2, 3}`<br>`set2 = {3, 4, 5}`<br>`print(set1.union(set2))  # Saída: {1, 2, 3, 4, 5}`                               | Retorna um conjunto que é a união de dois conjuntos.                                                                 |
| `intersection`       | `set1 = {1, 2, 3}`<br>`set2 = {2, 3, 4}`<br>`print(set1.intersection(set2))  # Saída: {2, 3}`                                | Retorna um conjunto que é a interseção de dois conjuntos.                                                            |
| `difference`         | `set1 = {1, 2, 3}`<br>`set2 = {2, 3, 4}`<br>`print(set1.difference(set2))  # Saída: {1}`                                     | Retorna um conjunto que é a diferença entre dois conjuntos (itens que estão em set1, mas não em set2).               |
| `symmetric_difference`| `set1 = {1, 2, 3}`<br>`set2 = {2, 3, 4}`<br>`print(set1.symmetric_difference(set2))  # Saída: {1, 4}`                      | Retorna um conjunto que é a diferença simétrica de dois conjuntos (itens que estão em um dos conjuntos, mas não em ambos).|
| `update`             | `set1 = {1, 2, 3}`<br>`set1.update([4, 5, 6])`<br>`print(set1)  # Saída: {1, 2, 3, 4, 5, 6}`                                  | Adiciona vários elementos ao conjunto.|

Lembre-se de que os conjuntos são mutáveis, portanto, métodos como `add`, `remove`, `discard`, `pop`, `clear`, `update` irão modificar o conjunto original. No entanto, métodos como `union`, `intersection`, `difference` e `symmetric_difference` irão retornar um novo conjunto e não modificarão os conjuntos originais.

**Como criar um conjunto vazio:**

Usando o construtor ```set()```:
A função ```set()``` sem nenhum argumento retorna um conjunto vazio.

In [71]:
conjunto_vazio = set()  # cria um conjunto vazio

In [72]:
print(type(conjunto_vazio))

<class 'set'>

 note que ```{}```cria um dicionário vazio, não um conjunto vazio, em Python.

In [73]:
c_vazio = {}  # assim, criamos um dicionário, e não um set

In [74]:
type(c_vazio)

dict

**MAAAAAAAAS...**

Podemos criar um conjunto não vazio utilizando as `{}`

In [75]:
conjunto_com_chaves = {1,2,3,4,4,5,5,7}

In [76]:
type(conjunto_com_chaves)

set

In [77]:
conjunto_com_chaves

{1, 2, 3, 4, 5, 7}

Vamos ver alguns exemplos do uso dos métodos dos Conjuntos em Python:

In [83]:
autores = set(['Clarice Lispector',  'José Saramago',  'Miguel Torga'])
autores

{'Clarice Lispector', 'José Saramago', 'Miguel Torga'}

In [79]:
brasil_Copas = set([1958, 1962, 1970, 1994, 2002])

In [84]:
países_Sede = set(['Suécia', 'Chile', 'México', 'Estados Unidos', 'Coréia do Sul e Japão'])

* **```add()``` Adiciona um elemento ao conjunto**

In [85]:
autores.add('Carlos Drummond de Andrade')
autores

{'Carlos Drummond de Andrade',
 'Clarice Lispector',
 'José Saramago',
 'Miguel Torga'}

* **```remove()``` Remove um elemento do conjunto**

In [ ]:
autores.remove('Miguel Torga')
autores

* **```discard```
Vamos descartar `Machado de Assis` do conjunto ```autores```**

In [ ]:
autores.discard('Machado de Assis')
autores

Como 'Machado de Assis' não está no conjunto, nada aconteceu.

* **```pop()```**

Removemos e retonamos um elemento aleatório  do conjunto.

In [ ]:
removido = autores.pop()
removido

A utilidade do método ```pop()``` em um conjunto pode não ser imediatamente aparente, dado que ele remove um elemento arbitrário e os conjuntos são, por definição, não ordenados. No entanto, existem algumas situações em que o `pop()` pode ser útil em um conjunto:

1. **Quando a ordem não importa**: Se você só precisa de um elemento do conjunto e não se importa com qual, ```pop()``` é uma maneira fácil de obter um. Por exemplo, você pode estar realizando uma tarefa que precisa ser feita em cada item, mas a ordem na qual a tarefa é feita não importa.

2. **Quando você precisa de um item único**: Como os conjuntos garantem que todos os seus elementos são únicos, `pop()` é uma maneira fácil de obter um item único de uma coleção. Você não precisa se preocupar em verificar se o item já foi usado, pois uma vez que é removido com ```pop()```, ele não está mais no conjunto.

3. **Quando você quer reduzir o conjunto**: Se você está tentando gradualmente reduzir o tamanho de um conjunto até que ele esteja vazio, ```pop()``` permite fazer isso sem precisar especificar um item.

OBS: em listas, ```pop()``` remove o último item.

* **```clear()```**

**Remove todos os elementos do Conjunto**

In [ ]:
autores_copy = autores.copy()
autores_copy.clear()

In [ ]:
autores_copy

* **```union()```**

**Retorna um conjunto que é a união dos dois conjuntos indicados**

In [ ]:
conj_Uniao = países_Sede.union(brasil_Copas)

In [ ]:
conj_Uniao

In [ ]:
alunos_python = {"Ana", "Filipe", "Alfredo", 'Cristiane', 'Jorge', 'Davi'}
alunos_R = {'Augusto', "Marcela", 'Filipe', 'Alfredo'}

In [ ]:
A = {0, 1, 3, 5, 7, 9}
B = {0, 2, 4, 6, 8, 9}
C = A.union(B)
print(C)

In [1]:
A = {0, 1, 3, 5, 7, 9}
B = {0, 2, 4, 6, 8}
C = A | B   # pipe
print(C)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
alunos_python.union(alunos_R)

In [ ]:
alunos_python | alunos_R   # está em A OU está em B

* **```intersection()```**

**Retorna um conjunto que é a interseção dos dois conjuntos indicados**

In [2]:
conj_intersecao = países_Sede.intersection(brasil_Copas)

NameError: name 'países_Sede' is not defined

In [ ]:
conj_intersecao

In [ ]:
alunos_python = {"Ana", "Filipe", "Alfredo", 'Cristiane', 'Jorge', 'Davi'}
alunos_R = {'Augusto', "Marcela", 'Filipe', 'Alfredo'}

In [ ]:
alunos_python & alunos_R  # está em A E está em B

In [ ]:
alunos_python.intersection(alunos_R)

* **```difference()```**

**Retorna um conjunto que é a diferença dos dois conjuntos indicados**

In [86]:
set_a = set([1,2,3,4,5])
set_b = set([3,4,5,6,7])

In [87]:
set_c_ab = set_a.difference(set_b)

In [90]:
set_c_ba = set_b.difference(set_a)

In [91]:
print(set_c_ab,'\t',set_c_ba)

{1, 2} 	 {6, 7}

In [92]:
alunos_python = {"Ana", "Filipe", "Alfredo", 'Cristiane', 'Jorge', 'Davi'}
alunos_R = {'Augusto', "Marcela", 'Filipe', 'Alfredo'}

In [93]:
alunos_python - alunos_R  # está em A, mas não está em B

{'Ana', 'Cristiane', 'Davi', 'Jorge'}

In [99]:
alunos_R.difference(alunos_python)

{'Augusto', 'Marcela'}

* **```symmetric_difference```**

In [100]:
set_d = set_a.symmetric_difference(set_b)

In [101]:
set_d

{1, 2, 6, 7}

In [102]:
alunos_python.symmetric_difference(alunos_R)  # elementos que estão em A OU B, mas não estão na interseção

{'Ana', 'Augusto', 'Cristiane', 'Davi', 'Jorge', 'Marcela'}

 **```update()```**

In [103]:
autores

{'Carlos Drummond de Andrade',
 'Clarice Lispector',
 'José Saramago',
 'Miguel Torga'}

In [104]:
autores.update(["Dostoyevsky", "Tolstoi"])

In [105]:
autores

{'Carlos Drummond de Andrade',
 'Clarice Lispector',
 'Dostoyevsky',
 'José Saramago',
 'Miguel Torga',
 'Tolstoi'}

In [106]:
conjunto1 = set([10, 20, 30, 40, 50])
conjunto2 = {15, 20, 25, 30, 35}

In [ ]:
conjunto1.update(conjunto2)

In [107]:
print(conjunto1," ", conjunto2) #lembre que conjuntos não são ordenados

{40, 10, 50, 20, 30}   {35, 20, 25, 30, 15}

**Removendo elementos repetidos em uma lista**

* Para remover os elementos repetidos em uma lista, podemos converter a lista em um conjunto.
* Lembrando que, em Python, os conjuntos (set) são coleções não ordenadas de elementos únicos.
* Então, ao fazer essa conversão, os elementos repetidos são automaticamente removidos.

In [111]:
lista = [1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6]

In [112]:
conjunto = set(lista)

* Como conjuntos não suportam indexação (e talvez possamos precisar da indexação), podemos converter o conjunto resultante novamente em uma lista.

In [113]:
lista_sem_repetidos = list(conjunto)

In [114]:
print(lista)
print(lista_sem_repetidos)

[1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
# Outro exemplo de criação de sets a partir de uma lista

candidatos = ["Mia", "Ana", "Bruno", "Xavier", "Bruno", "Ana"]

nomes_distintos = set(candidatos)  # transformamos a lista em um set

print("Candidatos: ", candidatos)
print("nomes distintos: ", nomes_distintos)

**EXERCÍCIOS de conjuntos**

1.) Crie um conjunto com os elementos (1,2,3,4,5) e imprima

In [ ]:
set1 =

2) Adicione o número 6 ao conjunto criado no exercício anterior.

3) Remova o elemento 2 do conjunto

4) Crie um segundo conjunto (set2) com os números 4, 5 e 6 e encontre a união dos dois conjuntos

5) Encontre a interseção dos dois conjuntos.

6) Encontre a diferença entre os dois conjuntos (itens que estão no primeiro conjunto, mas não no segundo). Crie um novo conjunto com estes valores.