# NOTEBOOK 2

* Listas
* Tuplas
* Range

### 1) Listas

São um tipo de dado com uma sequência ordenada de valores. Também pode ser uma lista vazia. Os tipos podem ser diferentes.

**Python possui um conjunto de métodos que podem ser usados para manipular listas:**


| Método | Descrição |
| --- | --- |
| `append()` | Adiciona um elemento no fim da lista. |
| `clear()` | Remove todos os elementos da lista. |
| `copy()` | Devolve uma cópia da lista. |
| `count()` | Devolve o número de elementos com o valor especificado. |
| `extend()` | Acrescenta os elementos de uma lista (ou qualquer iterável), ao fim da lista. |
| `index()` | Retorna o índice do primeiro elemento com o valor especificado. |
| `insert()` | Adiciona um elemento na posição especificada. |
| `pop()` | Remove o elemento na posição especificada. |
| `remove()` | Remove o primeiro item com o valor especificado. |
| `reverse()` | Inverte a ordem da lista. |
| `sort()` | Ordena a lista. |

| Método | Exemplo | Descrição |
| --- | --- | --- |
| append() | `frutas = ['laranja', 'cereja']`<br>`frutas.append('banana')`<br>`print(frutas)`<br>`# Saída: ['laranja', 'cereja', 'banana']` | Adiciona um item ao final da lista. |
| extend() | `numeros = [1, 2, 3]`<br>`numeros.extend([4, 5])`<br>`print(numeros)`<br>`# Saída: [1, 2, 3, 4, 5]` | Adiciona todos os itens de uma lista (ou qualquer iterável) ao final da lista atual. |
| insert() | `frutas = ['laranja', 'cereja']`<br>`frutas.insert(1, 'maçã')`<br>`print(frutas)`<br>`# Saída: ['laranja', 'maçã', 'cereja']` | Insere um item em uma posição especificada. |
| remove() | `frutas = ['laranja', 'maçã', 'cereja']`<br>`frutas.remove('maçã')`<br>`print(frutas)`<br>`# Saída: ['laranja', 'cereja']` | Remove o primeiro item da lista cujo valor é igual ao valor fornecido. |
| pop() | `frutas = ['laranja', 'maçã', 'cereja']`<br>`removido = frutas.pop(1)`<br>`print(frutas)`<br>`# Saída: ['laranja', 'cereja']`<br>`print(removido)`<br>`# Saída: maçã` | Remove o item em uma posição especificada e o retorna. |
| clear() | `frutas = ['laranja', 'maçã', 'cereja']`<br>`frutas.clear()`<br>`print(frutas)`<br>`# Saída: []` | Remove todos os itens da lista. |
| index() | `frutas = ['laranja', 'maçã', 'cereja']`<br>`idx = frutas.index('maçã')`<br>`print(idx)`<br>`# Saída: 1` | Retorna o índice do primeiro item cujo valor é igual ao valor fornecido. |
| count() | `frutas = ['maçã', 'laranja', 'maçã', 'cereja']`<br>`cnt = frutas.count('maçã')`<br>`print(cnt)`<br>`# Saída: 2` | Retorna o número de vezes que o valor fornecido aparece na lista. |
| sort() | `numeros = [3, 2, 1]`<br>`numeros.sort()`<br>`print(numeros)`<br>`# Saída: [1, 2, 3]` | Classifica os itens da lista em ordem crescente. |
| reverse() | `frutas = ['laranja', 'maçã', 'cereja']`<br>`frutas.reverse()`<br>`print(frutas)`<br>`# Saída: ['cereja', 'maçã', 'laranja']` | Inverte a ordem dos itens na lista. |
| copy() | `frutas = ['laranja', 'maçã', 'cereja']`<br>`frutas_copia = frutas.copy()`<br>`print(frutas_copia)`<br>`# Saída: ['laranja', 'maçã', 'cereja']` | Retorna uma cópia da lista. |

**Em Python, existem várias funções built-in que podem ser usadas com listas. No entanto, essas funções não são específicas para listas, mas funcionam com diferentes tipos de objetos.**

| Função | Exemplo | Descrição |
| --- | --- | --- |
| len() | `lst = [1, 2, 3, 4, 5]`<br>`print(len(lst))`<br>`# Saída: 5` | Retorna o número de itens em uma lista. |
| max() | `lst = [1, 2, 3, 4, 5]`<br>`print(max(lst))`<br>`# Saída: 5` | Retorna o maior item de uma lista. |
| min() | `lst = [1, 2, 3, 4, 5]`<br>`print(min(lst))`<br>`# Saída: 1` | Retorna o menor item de uma lista. |
| sum() | `lst = [1, 2, 3, 4, 5]`<br>`print(sum(lst))`<br>`# Saída: 15` | Retorna a soma de todos os itens de uma lista. |
| sorted() | `lst = [2, 1, 5, 3, 4]`<br>`print(sorted(lst))`<br>`# Saída: [1, 2, 3, 4, 5]` | Retorna uma nova lista que contém todos os itens da lista original em ordem crescente. |
| any() | `lst = [False, True, False]`<br>`print(any(lst))`<br>`# Saída: True` | Retorna `True` se qualquer item da lista é avaliado como `True`. Caso contrário, retorna `False`. |
| all() | `lst = [True, True, True]`<br>`print(all(lst))`<br>`# Saída: True` | Retorna `True` se todos os itens da lista são avaliados como `True`. Caso contrário, retorna `False`. |

#### Lista Vazia

In [1]:
# comandos para criar listas vazias

lista_vazia = []
lista_vazia = list()

In [ ]:
lista_vazia

#### Listas de números

In [ ]:
list_idade = [1,2,5,6]

In [ ]:
type(list_idade)  # type() retorna o tipo da variável

In [ ]:
numeros = [5, 8.3, 9, 4, 5000, 2]

In [ ]:
type(numeros)

In [1]:
lista_repetida = [1]*10
lista_repetida

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

#### Listas de strings

In [ ]:
nomes = ["Mia", "Fred", "Jorge", "Zelda", "Phoebe"]

In [ ]:
type(nomes)

In [ ]:
alunos = ["Mia", "Fred", "Zelda", "Mia", "Jorge", "José", "Davi", "Mia"]

In [ ]:
notas = [10, 7, 150, 6, 9, 8.5, 8]

In [1]:
notas[0] = 8  #atribuindo um novo valor a um item da lista

NameError: name 'notas' is not defined

In [ ]:
notas

#### Operação com Sequências

####  Verificar se um item está na lista - comando **in**

In [ ]:
alunos

In [ ]:
"Zelda" in alunos

In [ ]:
"Rony" in alunos

In [ ]:
alunos

In [ ]:
"mia" in alunos  # por quê?

In [ ]:
10 in notas

#### Verificar se um item não está na lista **not in**

In [ ]:
"Rony" not in alunos

#### Acessar uma posição na lista

In [ ]:
alunos

In [ ]:
alunos[0]  # Python é indexado do 0

In [ ]:
alunos[1] = 'Andre'

In [ ]:
alunos[5]

In [ ]:
len(alunos)

#### Recuperar um fatia da lista (começando a entender o SLICING)

In [ ]:
alunos

In [ ]:
alunos[1:] # da posição 1 ao final

In [ ]:
alunos[:5] # do início (posição 0) à posição 4 (5-1)

#### Replicar a lista dando um passo k

In [ ]:
print(alunos)

In [ ]:
alunos[1:8:2] # passo = 2

#### Tamanho da Lista
len()

lenght

In [ ]:
len(alunos) #retorna a quantidade de elementos na lista

In [ ]:
len("Oalmoçoestavabom")

#### Concatenando uma lista

In [ ]:
alunos

In [ ]:
novos_alunos = alunos + ["Andrea", "Marcela"]  # Criamos uma nova lista a partir da concatenação de duas listas
print(novos_alunos)

In [ ]:
frutas = ['banana', 'maça']
legumes = ['jiló', 'chuchu']

In [ ]:
lista_compras = frutas + legumes  # Criamos uma nova lista a partir da concatenação de duas listas
print(lista_compras)

#### Modificando Listas

##### APPEND()

Adiciona qualquer valor completo, por exemplo, se enviarmos uma string, ele adiciona a string, se enviarmos uma lista, ele adiciona a lista inteira ao invés de seus itens um a um.

In [ ]:
# Cria uma lista vazia.
lista = []

# Adiciona elementos no final da lista.
lista.append("P")
lista.append("Y")
lista.append("T")
lista.append("H")
lista.append("O")
lista.append("N")

print(lista)

In [ ]:
frutas

In [ ]:
frutas.append("melancia")
print(frutas)

In [ ]:
frutas = frutas + ["melancia"]

In [ ]:
frutas

In [ ]:
frutas.append(['uva', 'laranja'])

In [ ]:
print(frutas)

In [ ]:
len(frutas)

In [ ]:
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.append(['açucar', 'fermento'])
print(bolo)

Perceba que o append adicionou a lista ['açucar', 'fermento'] à lista bolo. Mas talvez desejássemos adicionar 'açucar' e 'fermento' como elementos da lista bolo, e não como uma lista dentro de uma lista. O extend nos permite fazer isso.

In [ ]:
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.extend(['açucar', 'fermento'])
print(bolo)

In [ ]:
len(bolo)

##### EXTEND()

Adiciona itens de uma estrutura iterável, por exemplo, se enviarmos um objeto puro, ele não sabe como adicionar, porém, se enviarmos esse mesmo objeto dentro de uma lista, ele varrerá a lista e adicionará os objetos dentro da lista, um a um.

In [1]:
linguagens = ["C", "Java", "Julia"]

In [2]:
linguagens.extend(["Python", 'Scala'])

In [3]:
linguagens

['C', 'Java', 'Julia', 'Python', 'Scala']

##### INSERT()

O método ```append()``` sempre insere elementos no final da lista. Isso é bom por questões de desempenho. É mais rápido inserir elementos no final de uma lista porque não precisamos percorrer a lista procurando a posição onde o elemento deve ser inserido. Mas também é possível inserir elementos em posições específicas da lista, usando o  método ```insert()```.

In [ ]:
lista = ['P', 'T', 'H', 'N']
lista.insert(1, "Y")
lista.insert(4, "O")


print(lista)

In [ ]:
lista.insert(-1, "Q")

In [ ]:
lista

##### Replicar a lista n vezes

In [ ]:
notas

In [ ]:
notas * 2

##### Menor elemento da lista
MIN()

In [ ]:
notas

In [2]:
min(notas)

NameError: name 'notas' is not defined

In [ ]:
print(linguagens)

In [ ]:
min(linguagens)

##### Maior elemento da lista
MAX()

In [ ]:
max(linguagens)

In [ ]:
max(notas)

##### Número de ocorrências de um elemento na lista
 COUNT()

In [ ]:
notas

In [ ]:
notas.count(9)

##### Remover um item da lista
DEL, REMOVE(), POP()

|  | del | remove() | pop() |
| --- | --- | --- | --- |
| Descrição | A palavra-chave `del` em Python é usada para excluir variáveis, itens de lista ou partes de listas. | O método `remove()` é usado para remover o primeiro item da lista cujo valor é igual ao valor fornecido. | O método `pop()` é usado para remover um item em uma posição especificada e o retorna. |
| Exemplo | `my_list = ['a', 'b', 'c', 'd', 'e']`<br>`del my_list[1]`<br>`print(my_list)`<br>`# Saída: ['a', 'c', 'd', 'e']` | `my_list = ['a', 'b', 'c', 'd', 'e']`<br>`my_list.remove('b')`<br>`print(my_list)`<br>`# Saída: ['a', 'c', 'd', 'e']` | `my_list = ['a', 'b', 'c', 'd', 'e']`<br>`item = my_list.pop(1)`<br>`print(my_list)`<br>`# Saída: ['a', 'c', 'd', 'e']`<br>`print(item)`<br>`# Saída: b` |
| Retorna o item removido? | Não | Não | Sim |
| Remove por índice ou valor? | Índice | Valor | Índice |
| Remove múltiplos itens ou fatias? | Sim, pode remover uma fatia de uma lista. | Não, remove apenas o primeiro item que corresponde ao valor. | Não, remove apenas um item por vez. |
| Lança um erro se o item não estiver presente? | Sim, lança um `IndexError` se o índice estiver fora do intervalo. | Sim, lança um `ValueError` se o valor não estiver presente. | Sim, lança um `IndexError` se o índice estiver fora do intervalo. |

A escolha entre `del`, `remove()` e `pop()` depende do seu caso de uso específico.

**```del list_name[index]```**    ->  para excluir um valor único de acordo com o índice apresentado

**```del list_name```**      ->   para excluir a lista inteira

In [8]:
numbers = [1, 2, 3, 2, 3, 4, 5]

In [9]:
del numbers[2]  # Excluir o item na posição 2 da lista
print(numbers)

[1, 2, 2, 3, 4, 5]

As palavras-chave são algumas palavras predefinidas e reservadas em python

In [ ]:
del numbers[-1]
print(numbers)

In [ ]:
del numbers

In [ ]:
print(numbers)

**```list_name.remove(valor)```** UTILIZA O VALOR DO ELEMENTO PARA REMOVÊ-LO DA LISTA

In [ ]:
numbers = ["João", 2, 3, 2, 3, 4, 5]

In [ ]:
numbers.remove("João")
print(numbers)

In [ ]:
numbers.remove(3) # remove a 1a ocorrência do valor 3
print(numbers)

In [ ]:
numbers

In [ ]:
numbers[0] = 1

In [ ]:
numbers

**```list_name.pop(índice)```**  UTILIZA O ÍNDICE PARA REMOVER O ELEMENTO DA LISTA

O método pop(), assim como del, apaga o valor que está armazenado no índice determinado. Mas o método pop() retorna o valor deletado da lista.

In [73]:
numbers = [1, 2, 3, 2, 3, 4, 5]

In [74]:
removido = numbers.pop(3) # remove o objeto na posição indicada
removido

2

In [ ]:
numbers

In [ ]:
valor_removido = numbers.pop(-1)

In [ ]:
print(numbers)
print(valor_removido)

In [ ]:
print(frutas)

In [ ]:
removido = frutas.pop(3)
removido

In [ ]:
print(frutas)
print(removido)

#### **```lista.clear()```**

Remove todos os itens da lista e retorna a lista vazia

In [4]:
lista_2 = [1,2,4,6]

In [5]:
lista_2.clear()

In [6]:
lista_2

[]

#### Ordenar
**```sort()``` e ```sorted()```**

```sort()``` é um método que modifica a lista original na qual é chamado e ordena os itens em ordem ascendente. Este método não retorna nada (ou seja, retorna ```None```), ele apenas altera a lista original. Por exemplo:

In [2]:
lista = [3, 1, 4, 1, 5, 9, 2]
lista.sort()
print(lista)  # Saída: [1, 1, 2, 3, 4, 5, 9]

[1, 1, 2, 3, 4, 5, 9]

```sorted()``` é uma função built-in que recebe um iterável (como uma lista, tupla, dicionário, conjunto etc.) e retorna uma nova lista de itens em ordem ascendente. **A sequência original não é alterada**. Por exemplo:

In [3]:
lista = [3, 1, 4, 1, 5, 9, 2]
sorted_lista = sorted(lista)
print(sorted_lista)  # Saída: [1, 1, 2, 3, 4, 5, 9]
print(lista)  # Saída: [3, 1, 4, 1, 5, 9, 2]

[1, 1, 2, 3, 4, 5, 9]
[3, 1, 4, 1, 5, 9, 2]

A escolha entre ```sort()``` e ```sorted()``` depende principalmente de dois fatores: se você precisa ou não manter a lista original e o tipo de dados que você está ordenando.

In [ ]:
numbers = [6, 9, 3, 1]

In [ ]:
numbers_sorted = sorted(numbers)  # cria uma nova lista ordenada
numbers_sorted

In [ ]:
numbers  # lista original permanece a mesma

In [4]:
names = ['Harry', 'Simone', 'Allan', 'Marcos']

In [ ]:
sorted(names)

In [5]:
sorted(names, reverse=True)

['Simone', 'Marcos', 'Harry', 'Allan']

In [6]:
sorted(frutas)

NameError: name 'frutas' is not defined

#### **index()**

Retorna o índice do primeiro valor especificado

In [ ]:
names

In [7]:
names.index('Allan')

2

### Exercícios

1) Crie uma lista vazia e adicione os elementos 1, 2, 3, 4, 5 usando o método append.

In [13]:
lista = []

lista.append(1)

lista.append(2)

lista.append(3)

lista.append(4)

lista.append(5)

print (lista)

[1, 2, 3, 4, 5]

2) Dada a lista = [1, 10, 3, 8, 5], remova o elemento 3 da lista.

In [15]:
lista = [1,10,3,8,5]

lista.remove(3)

print (lista)

[1, 10, 8, 5]

3) Dada a lista = [1, 2, 3, 4, 5], inverta a ordem dos elementos na lista.

In [19]:
lista = [1,2,3,4,5]

lista.reverse()

print(lista)

[5, 4, 3, 2, 1]

In [20]:
sorted(lista, reverse=True)

[5, 4, 3, 2, 1]

4) Dada a lista = [1,1,1,1,1,7,8,9], crie outra lista com os os três últimos elementos

In [23]:
lista =  [1,1,1,1,1,7,8,9]
lista_4 = lista[5:]

print(lista_4)

[7, 8, 9]

5) Dada a lista = [-1, 2.5, 2.555, 4, 20], imprima o maior valor da lista.

In [25]:
lista = [-1, 2.5, 2.555, 4, 20]
max(lista)

20

6) Dada a lista = [5, -5, 10, 6, 8, 45, 8, 14, 78], imprima o menor valor da lista.

In [24]:
lista = [5, -5, 10, 6, 8, 45, 8, 14, 78]
min(lista)

78

 7) Dada a lista = ['Ana', 'André', 'Joana', 'Miguel', 'Ana'], remova o elemento repetido e o salve em na variável ```nome_repetido```

In [81]:
lista = ['Ana', 'André', 'Joana', 'Miguel', 'Ana']
min(lista)

In [27]:
nome_repetido = lista.pop(0)
nome_repetido

2.5

In [78]:
lista.remove("Joana")

In [79]:
lista

['André', 'Miguel', 'Ana']

In [80]:
lista.index('André')

0

 8) Dada a lista = [9,7,5,8,1,3,2,4,10], crie uma nova lista ordenada crescentemente e outra, decrescentemente.

In [20]:
lista = [9,6,7,5,8,1,3,2,4,10]
lista_1 = lista.copy()
lista_1.reverse()
print(lista_1)

[10, 4, 2, 3, 1, 8, 5, 7, 6, 9]

10) Dada a lista = ['a', 'b', 'c', 'd', 'e'], insira os elementos "um", "dois" e "três" nas posições 0, 2 e 4

In [95]:
lista = ['a', 'b', 'c', 'd', 'e']

In [98]:
lista.insert(0, 'um')

In [99]:
lista

['um', 'a', 0, 'b', 'c', 'd', 'e']

### 2) Tuplas - tuple

As tuplas em Python são semelhantes às listas, mas são imutáveis. Isso significa que, uma vez que uma tupla é criada, você não pode alterar seus elementos ou seu tamanho. Portanto, as tuplas têm menos métodos disponíveis em comparação com as listas. Aqui estão os dois métodos que as tuplas têm:

| Método | Exemplo | Descrição |
| --- | --- | --- |
| count() | `tupla = (1, 2, 3, 2, 2, 4)`<br>`print(tupla.count(2))`<br>`# Saída: 3` | Retorna o número de vezes que um valor específico aparece na tupla. |
| index() | `tupla = (1, 2, 3, 2, 2, 4)`<br>`print(tupla.index(2))`<br>`# Saída: 1` | Retorna o índice da primeira ocorrência do valor especificado na tupla. |

Note que, ao contrário das listas, as tuplas não têm métodos para adicionar ou remover elementos, porque são imutáveis.

In [ ]:
tupla_vazia = tuple()

In [ ]:
type(tupla_vazia)

In [ ]:
paciente = ("Alfredo", 53, 1.75)

In [ ]:
type(paciente)

In [ ]:
paciente[2]

In [ ]:
paciente.index("Alfredo") # retorna o índice do objeto

In [ ]:
1.75 in paciente

In [ ]:
t = (1, 2, 3) + (4, 5)  # é possível concatenar tuplas
t

In [ ]:
paciente.count("Alfredo")  #retorna a contagem do valor indicado

In [ ]:
del paciente

In [ ]:
paciente

### 3) Range

In [ ]:
list(range(0,11))  # de 0 a 10

In [ ]:
list(range(0, 21, 3)) # pares de 0 a 20

In [ ]:
list(range(1, 20, 2)) # ímpares de 1 a 19

#### Construir um intervalo de 1 à 100 só com os multiplos de 4

In [ ]:
alunos

In [ ]:
list(range(0, len(alunos)))

In [ ]:
print(list(range(4, 101, 4)))

In [ ]:
list(range(10, 0, -1)) # sequência de 1 a 10 invertida

In [ ]:
list(range(20, -1, -2)) # Sequência de 0 a 20 invertida

### Material Extra

### Tabela

In [ ]:
""""
cpf nome idade
000 Alfredo 53
111 Ícaro   35
222 Davi    40
333 Joria   53
444 Cristine 30
"""

In [ ]:
tabela_alunos = [['000', 'Alfredo', 53],
                 ['111', 'Ícaro',34],
                 ['222', 'Davi', 40]]

In [ ]:
display(tabela_alunos)

In [ ]:
tabela_alunos[1][2] = 35   # Alterando o valor de um elemento da tabela (posição: linha 1 e coluna )
tabela_alunos

In [ ]:
tabela_alunos.append(["333", "Joria", 53])  # Acrescentando uma linha à tabela
tabela_alunos

In [ ]:
tabela_alunos.extend([["444", "Cristine", 30]]) # percebam que para usar extend() usamos [[]]
tabela_alunos

In [ ]:
tabela_alunos = tabela_alunos + [["555", "Lucas", 31]]

In [ ]:
print(tabela_alunos)
print(len(tabela_alunos))

In [ ]:
tabela_alunos.insert(1, [1,"teste"])

In [ ]:
tabela_alunos